[Unit]
Description=A simple python logstash (ealstic stack) to prometheus exporter
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/usr/local/bin/elcprom_exporter
ExecStart=/usr/bin/gunicorn -w 1 wsgi:app --bind 0.0.0.0:9400

[Install]
WantedBy=multi-user.target